body {
    background-color: cadetblue;
    color: white;
}

.jumbotron {
    position: relative;
    background: none;
}

.form-control {
    border-radius: 20px;
}

.btn-lg {
    background: none;
    color: white;
}

.btn-lg:hover {
    background: rgba(255, 255, 255, 0.3);
    color: white;;
    -o-transition:color .5s ease-out, background .2s ease-in;
    -ms-transition:color .5s ease-out, background .2s ease-in;
    -moz-transition:color .5s ease-out, background .2s ease-in;
    -webkit-transition:color .5s ease-out, background .2s ease-in;
    /* ...and now override with proper CSS property */
    transition:color .5s ease-out, background .2s ease-in;
}