<div class="container">
    <div class="jumbotron">
        <h1>profile</h1>
        <p>view or update your information</p>
    </div>
    <div ng-repeat="user in users">
        <form role="form">
            <div class="form-group">
                <input type="text" class="form-control" value="{{user.first_name}}" placeholder="first name">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" value="{{user.last_name}}" placeholder="last name">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" value="{{user.username}}" placeholder="username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="old password">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="new password">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="retype new password">
            </div>
            <div id="buttons">
                <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span></button>
                <button type="reset" class="btn btn-warning"><span class="glyphicon glyphicon-refresh"></span></button>
            </div>
        </form>
    </div>
</div>
<div ng-init="users = [
  {first_name:'John', last_name: 'Gamboa', username: 'jhgamboa'}
]">
</div>
<script src="../js/home.profile.js"></script>
<style>
    .glyphicon-ok, .glyphicon-refresh {
        font-size: 40px;
    }

    #buttons {
        text-align: center;
    }
</style>
