<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>studybuddy.</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../css/bootstrap.min.css" rel="stylesheet">
        <link href="../css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="../css/main.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <!--<nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">studybuddy</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="#"><span class="glyphicon glyphicon-home"></span> home</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-th-large"></span> groups</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-search"></span> join</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-plus"></span> host</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{username}}</a></li>
                        <li><a href="../index.html"><span class="glyphicon glyphicon-log-out"></span> logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>-->
        <div class="col-xs-12 navbar-inverse navbar-fixed-bottom">
            <div class="row" id="bottomNav">
                <div class="col-xs-2 text-center"><a href="#"><i class="glyphicon glyphicon-home"></i><br>home</a></div>
                <div class="col-xs-2 text-center"><a href="#"><i class="glyphicon glyphicon-th-large"></i><br>groups</a></div>
                <div class="col-xs-2 text-center"><a href="#"><i class="glyphicon glyphicon-search"></i><br>join</a></div>
                <div class="col-xs-2 text-center"><a href="#"><i class="glyphicon glyphicon-plus"></i><br>host</a></div>
                <div class="col-xs-2 text-center"><a href="#"><i class="glyphicon glyphicon-user"></i><br>profile</a></div>
                <div class="col-xs-2 text-center"><a href="#"><i class="glyphicon glyphicon-log-out"></i><br>logout</a></div>
            </div>
        </div>
        <div class="container">
            <div class="jumbotron">
                <br /><br />
                <h1>home</h1>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3>current status</h3>
                    <span class="glyphicon glyphicon-th-large"></span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam asperiores at corporis, dicta, earum exercitationem nam nobis odit placeat, quo repudiandae saepe sapiente sequi soluta tempore unde vel veniam!</p>
                </div>
                <div class="col-md-6">
                    <h3>create group</h3>
                    <span class="glyphicon glyphicon-plus"></span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aperiam asperiores at corporis, dicta, earum exercitationem nam nobis odit placeat, quo repudiandae saepe sapiente sequi soluta tempore unde vel veniam!</p>
                </div>
            </div>
        </div>
    </body>
    <style>
        a, a:hover, i {
            text-align: center;
            color: white;
            text-decoration: none;
        }
        a:focus {
            text-decoration: none;
            color: #f5f5f5;
        }
        .col-md-6, .col-md-12 {
            text-align: center;
        }
        h3 {
            font-weight: bold;
        }
        .row {
            text-align: center;
        }
    </style>
</html>