<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>studybuddy.</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../css/bootstrap.min.css" rel="stylesheet">
        <link href="../css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="../css/main.css" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-default navbar-inverse navbar-fixed-bottom">
            <div class="container-fluid">
                <div>
                    <ul class="nav navbar-nav">
                        <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-plus"></span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-pushpin"></span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span></a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="jumbotron">
                <p>

                </p>
            </div>
            <div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consectetur consequatur labore laboriosam quod reprehenderit suscipit totam voluptates. Consectetur delectus ducimus excepturi incidunt inventore laudantium nulla officiis quia sunt unde?
                </p>
            </div>
        </div>
    </body>
    <style>
        .navbar-nav {
            margin: 0 auto;
            display: table;
            table-layout: fixed;
            float: none;
        }
    </style>
</html>