<div class="container">
    <div class="jumbotron">
        <h1>add new group</h1>
        <p>choose to either join or host a study group</p>
    </div>
    <div class="row">z
        <div class="col-xs-6">
            <h4><i class="glyphicon glyphicon-plus"></i><br/>create new group</h4>
        </div>
        <div class="col-xs-6">
            <h4><i class="glyphicon glyphicon-asterisk"></i><br/>join existing group</h4>
        </div>
    </div>
</div>
<style>
    .col-xs-6 {
        text-align: center;
    }
</style>