<div ng-controller="UserGroupsCtrl" ng-controller="BuddyCtrl" class="container">
    <div ng-controller='UserCtrl' class="jumbotron">
        <h1>study groups</h1>
        <h3>Welcome back, {{user.first_name}}!</h3>
    </div>
    <div ng-repeat="group in groups" class="container">
        <div>
            <div class="row">
                <a ui-sref="home.group({class: group.class, owner: group.owner})">
                    <div ng-if="group.current == 0" class="col-xs-12" style="background-color:darkgrey">
                        <h3>{{group.class}}</h3>
                        <h4>{{group.owner}}'s group</h4>
                        <p>
                            <span class="glyphicon glyphicon-user"> {{group.members}}/{{group.member_limit}}</span>
                        </p>
                    </div>
                </a>
                <a ui-sref="home.group({class: group.class, owner: group.owner})">
                    <div ng-if="group.current == 1" class="col-xs-12" style="background-color: darkolivegreen">
                        <h3>{{group.class}}</h3>
                        <h4>{{group.owner}}'s group</h4>
                        <p>
                            <span class="glyphicon glyphicon-user"> {{group.members}}/{{group.member_limit}}</span>
                        </p>
                    </div>
                </a>
            </div>
            <br />
        </div>
    </div>
    <a ui-sref="home.add">
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-default btn-lg"><i class="glyphicon glyphicon-plus"></i><br/>add new group</button>
            </div>
        </div>
    </a>
</div>


