<div class="container">
    <form role="form">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="first name">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="last name">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="username">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="password">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="re-enter password">
        </div>
        <button ui-sref="login.login" type="submit" class="btn btn-default btn-lg">register</button>
    </form>
</div>