<!doctype html>
<html ng-app="registerPage">
<div class="container">
    <form role="form" name="register" ng-controller="registerController">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="first name">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="last name">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="username">
        </div>
        <div class="form-group">
            <input type="password" id="pw1" name="pw1" ng-model="pw1" ng-required="" class="form-control" placeholder="password" />
        </div>
        <div class="form-group">
            <input type="password" id="pw2" name="pw2" ng-model="pw2" ng-required="" pw-check="pw1" class="form-control" placeholder="retype password" />
            <div class="msg-block" ng-show"register.$error"> 
             <span class="msg-error" ng-show="register.pw2.$error.pwmatch"> Passwords do not match. </span>
            </div>
        </div>

        <input ui-sref="login.login" value="register" type="submit" class="btn btn-default btn-lg"></button>
        <input ui-sref="login.login" value="back" type="button" class="btn btn-default btn-lg"></button>
    </form>
</div>