<script type="text/javascript">
    function checkPw(form) {
        pw1 = form.pw1.value;
        pw2 = form.pw2.value;
        if (pw1 != pw2)
        {
        alert ("\nPassword does not match.")
        return false;
        }
    else return true;
    }
</script>

<div class="container">
    <form role="form" name="registerPage">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="first name">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="last name">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="username">
        </div>
        <div class="form-group">
            <input type="password" name=pw1 class="form-control" placeholder="password">
        </div>
        <div class="form-group">
            <input type="password" name=pw2 class="form-control" placeholder="retype password">
        </div>
        <input ui-sref="login.login" onclick="checkPw(document.registerPage)" value="register" type="submit" class="btn btn-default btn-lg"></button>
        <input ui-sref="login.login" value="back" type="submit" class="btn btn-default btn-lg"></button>
    </form>
</div>